*,
*::before,
*::after {
    box-sizing: border-box;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: #fff;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 5px;
    border: 3px solid #fff;
}

:root {
    --orange-color: #FFAA06;
    --dark-orange-color: #FF7E06;
    --grey-color: #9F9F9F;
    --dark-grey-color: #383838;
}


/*
font-family: 'Quicksand', sans-serif;
*/

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: var(--dark-grey-color);
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.colored-button {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    background-color: var(--orange-color);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: 242px;
}

.colored-button:hover {
    background-color: var(--dark-orange-color);
}

.text-decoration-underline {
    text-decoration: underline;
}

.header {
    padding: 20px 0;
    margin-bottom: 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: 13%;
    z-index: 1;
}

.header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.header__link+.header__link {
    margin-left: 55px;
}

.header__phone-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000;
}

.header__button {
    display: none;
    top: 20px;
    right: 16px;
    padding: 0;
    width: 25px;
    height: 20px;
    border: none;
    background-color: #fff;
    z-index: 1;
}

.header__button-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header__button-inner span {
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
}

.hero__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 75px;
}

.hero__content {
    max-width: 670px;
}

.hero__title {
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    margin-bottom: 30px;
}

.hero__text {
    margin-bottom: 15px;
}

.hero__button {
    padding: 15px 25px;
}

.hero__pictures {
    width: 470px;
    height: 440px;
}

.hero__pictures,
.services__pictures,
.service__pictures {
    display: block;
}

.hero__picture {
    width: 100%;
    height: 100%;
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__picture {
    width: 100%;
    object-fit: cover;
}

.info {
    padding: 50px 0;
    background-color: #FFF6E9;
    margin-bottom: 75px;
}

.info__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.info__item {
    text-align: center;
    max-width: 135px;
    font-weight: 500;
}

.info__item-title {
    font-size: 44px;
    line-height: 55px;
    font-weight: 700;
    color: #FFAA06;
    margin-bottom: 5px;
}

.services {
    margin-bottom: 75px;
}

.services__inner {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}

.services__pictures {
    width: 570px;
    height: 240px;
    position: relative;
    margin-right: 30px;
}

.services__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 30px;
}

.services__button {
    max-width: 222px;
    margin: 0 auto;
}

.services__advantages-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 75px;
}

.services__advantages-item {
    width: 250px;
    padding-left: 35px;
    margin-bottom: 55px;
    position: relative;
}

.services__advantages-item::before,
.gift-shopping__item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url('images/checkmark.svg') no-repeat center;
}

.service__wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-wrap: wrap;
}

.service__items {
    columns: 2;
}

.service__item {
    width: 570px;
    min-height: 432px;
    border: 0.5px solid #FFDA92;
    border-radius: 3px;
}

.service__item+.service__item {
    margin-top: 30px;
}

.service__item .service__pictures {
    width: 210px;
    margin-right: 40px;
}

.service__item .service__pictures,
.service__pictures {
    position: relative;
}

.service__item .service__pictures:before,
.service__pictures:before,
.seo-slider__image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(83, 56, 5, 0.4);
}

.service__item .service__content .service__info-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    /* font-size: 24px;
    line-height: 30px; */
}

.service__item .service__content .service__info-text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 5px;
    max-width: 300px;
}

.service__info-text--colored {
    color: #FFAA06;
}

.service__content {
    display: flex;
    flex-direction: column;
    padding: 25px 0 20px;
}

.service__item-inner {
    display: flex;
}

.service__price {
    margin-top: auto;
    max-width: 270px;
}

.service__price-inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
}

.service__price-info {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.service__price-link {
    display: block;
    padding: 14px 22px;
    border: 1px solid #FFAA06;
    max-width: fit-content;
}

.quiz {
    margin-bottom: 40px;
}

.quiz__top {
    display: flex;
    justify-content: center;
}

.quiz__title {
    font-size: 38px;
    line-height: 48px;
    font-weight: 700;
    margin-left: 105px;
    max-width: 500px;
    margin-top: auto;
    margin-bottom: 90px;
}

.quiz__pictures {
    width: 368px;
    height: 308px;
    position: relative;
}

.quiz__pictures::before {
    display: block;
    content: '';
    position: absolute;
    width: 368px;
    height: 308px;
    background-color: #FFAA06;
    z-index: -1;
    bottom: 30px;
    left: 30px;
}

.quiz__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    position: relative;
}

.quiz__items {
    counter-reset: myCounter;
    list-style-type: none;
}

.quiz__item::before {
    counter-increment: myCounter;
    content: "0" counter(myCounter) ".";
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: #FFAA06;
    position: absolute;
    left: 20px;
}

.quiz__item-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.quiz__item:nth-child(n+10)::before {
    content: counter(myCounter) ".";
}

.quiz__item+.quiz__item::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: #C4C4C4;
}

.quiz__item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    margin-left: 40px;
}

.quiz__item-text {
    max-width: 500px;
}

.gift-shopping {
    padding: 50px 0;
    background-color: #FFF6E9;
}

.gift-shopping__inner {
    display: flex;
    justify-content: space-between;
}

.gift-shopping__content {
    max-width: 515px;
}

.gift-shopping__title {
    font-size: 38px;
    line-height: 47px;
    margin-bottom: 65px;
}

.gift-shopping__items {
    margin-left: 60px;
    margin-bottom: 45px;
}

.gift-shopping__item {
    font-weight: 500;
    position: relative;
    padding-left: 40px;
}

.gift-shopping__item+.gift-shopping__item {
    margin-top: 25px;
}

.video-section {
    padding: 75px 0 55px;
}

.video-section__title {
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    margin-bottom: 40px;
}

.video-section__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 970px;
    max-height: 440px;
    min-height: 260px;
    overflow: hidden;
    position: relative;
}

.video-section__link:before {
    content: '';
    display: block;
    position: absolute;
    width: 88px;
    height: 88px;
    top: 50%;
    transform: translateY(-50%);
    background: url('images/video-play-button.png') no-repeat center;
}

.video-section__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.steps {
    margin-bottom: 75px;
}

.step__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.step__container {
    max-width: 1095px;
}

.step__pictures {
    width: 569px;
    height: 548px;
}

.step__items {
    text-align: left;
    margin-top: 20px;
    margin-bottom: auto;
}

.step__items-wrapper {
    columns: 2;
    margin-bottom: 30px;
}

.step__item {
    max-width: 190px;
    margin-bottom: 32px;
    width: 100%;
}

.step__items-title {
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    max-width: 320px;
    margin-bottom: 40px;
}

.step__item-title {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    color: var(--orange-color);
    margin-bottom: 22px;
    transition: .5s;
}

.map {
    margin-bottom: 75px;
}

.map__container {
    display: flex;
    justify-content: space-evenly;
}

.map__addresses {
    margin-top: 40px;
    max-width: 580px;
    width: 100%;
}

.map__title {
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    margin-bottom: 40px;
}

.map__addresses-items {
    margin-left: 100px;
}

.map__addresses-item+.map__addresses-item {
    margin-top: 20px;
}

.map__addresses-item__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    transition: .2s;
    text-decoration: underline;
}

.map__addresses-item__text {
    max-width: 410px;
}

summary {
    display: block;
    cursor: pointer;
}

.map__addresses-item[open] summary {
    margin-bottom: 20px;
    color: #FFAA06;
    text-decoration: none;
}

.map__addresses-item__text {
    font-size: 16px;
    line-height: 20px;
    margin-top: 4px;
}

.map__addresses-item[open] summary~* {
    animation: sweep .5s ease-in-out;
    margin-left: 40px;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px
    }

    100% {
        opacity: 1;
        margin-top: 0px
    }
}

.map__block {
    width: 100%;
}

.map__pictures {
    width: 570px;
    height: 435px;
    margin: 0 auto;
}

.seo-slider__images {
    margin-bottom: 40px;
    height: 225px;
}

.seo-slider__images .slick-track {
    display: flex;
    align-items: center;
    transition: .5s;
}

.seo-slider__image {
    max-width: 170px;
    min-width: 170px;
    height: 165px;
    position: relative;
    margin: 0 15px;
    transition: .5s;
}

.seo-slider__image.slick-center {
    max-width: 370px;
    min-width: 370px;
    height: 225px;
}

.seo-slider__text-title {
    font-size: 38px;
    line-height: 47px;
    font-weight: 700;
    color: #383838;
    text-align: center;
    margin-bottom: 40px;
}

.seo-slider__texts {
    margin-bottom: 40px;
}

.seo-slider__text-content {
    max-width: 770px;
    margin: 0 auto;
}

.seo-slider__texts .slick-left,
.seo-slider__texts .slick-right {
    position: absolute;
    top: 225px;
    left: 70px;
    cursor: pointer;
    z-index: 10;
}

.seo-slider__texts .slick-right {
    left: 965px;
}

.seo-slider__texts {
    margin-bottom: 200px;
}

.footer {
    background: #FFF6E9;
    padding: 45px 0;
    min-height: 225px;
    position: relative;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 45px;
    margin: 0 auto;
}

.footer__link+.footer__link {
    margin-top: 17px;
}

.footer__link--second-child {
    margin-bottom: 33px;
}

.footer__link--light+.footer__link--light {
    margin-top: 13px;
}

.footer-copy {
    margin-top: 80px;
    font-size: 12px;
    line-height: 15px;
}

.step-title {
    font-size: 38px;
    line-height: 47.5px;
    font-weight: 700;
    margin-bottom: 40px;
}

.step-subtitle {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.step-top-btns {
    display: flex;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    margin: 0 40px;
}

.step-top-back--btn {
    display: none;
    color: #FFAA06;
}

.step-back--visible .step-top-back--btn {
    display: block;
}

.step-close-cross {
    display: block;
    width: 40px;
    height: 40px;
}

.step-close-cross img {
    max-width: 100%;
    max-height: 100%;
}

.step-bottom {
    display: flex;
}

.step--popup {
    background: #fff;
    margin: 0 auto;
    max-height: fit-content;
    position: relative;
    overflow-x: hidden;
    padding: 80px 0;
}

.step--popup .container {
    padding: 0 40px;
}

.mfp-size .mfp-content {
    height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    height: calc(var(--vh, 1vh) * 100);
    max-width: 735px;
}

.mfp-close-style .mfp-close {
    display: none;
}

.mfp-styles .mfp-iframe-holder {
    padding: 0;
}

.step-1__bottom {
    justify-content: right;
}

.step-1__address-title {
    width: 85%;
}

.step-1__subtitle {
    margin-bottom: 35px;
}

.step-1__subtitle--outline {
    display: block;
    padding: 25px 40px 25px;
    border: 1px solid #FF7E06;
}

.step-1__address {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    margin: 0 -40px;
    position: relative;
}

.step-1__address+.step-1__address {
    border-top: 1px solid #FFAA06;
}

.step-1__address-checkbox:checked+label::before {
    background-image: url(images/checkbox-checked.svg);
}

.step-1__address-checkbox {
    position: absolute;
    visibility: hidden;
}

.step-1__address-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.step-1__address-checkbox+label::before {
    content: '';
    display: inline-block;
    min-width: 36px;
    min-height: 36px;
    margin-right: 30px;
    background: url(images/checkbox.svg) no-repeat center / cover;
    transition: .15s;
}

.step-1__address::after {
    content: '';
    display: inline-block;
    width: 52px;
    height: 71px;
    background: url(images/map-icon.svg) no-repeat center / cover;
    transition: .15s;
    right: 40px;
    position: absolute;
}

.step-1__address-content {
    margin-top: 25px;
    margin-left: 66px;
}

.step-1__address-map {
    display: none;
    max-width: 530px;
    max-height: 280px;
    overflow: hidden;
    position: relative;
    animation: sweep .3s linear;
}

.step-1__address-checkbox:checked~.step-1__address-content .step-1__address-time {
    margin-bottom: 30px;
}

.step-1__address-checkbox:checked~.step-1__address-content .step-1__address-map {
    display: block;
}

.step-map--before {
    position: relative;
}

.step-map--before::before {
    content: '';
    display: block;
    position: absolute;
    background: url('images/marker.svg') no-repeat center / cover;
    width: 24px;
    height: 31px;
    top: 130px;
    left: 60px;
}

.step-map--span {
    display: block;
    position: absolute;
    background: #FFFFFF;
    border-radius: 24px;
    top: 120px;
    left: 95px;
    width: 350px;
    padding: 20px;
}

.step-2__subtitle {
    margin-bottom: 10px;
}

.step-2__subtitle-text {
    margin-bottom: 55px;
}

.step-2__map {
    max-width: 640px;
    height: 285px;
    object-fit: cover;
    position: relative;
    margin-bottom: 35px;
}

.step-2__map-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.step-2__bottom {
    justify-content: space-between;
}

.step-2__item+.step-2__item {
    margin-top: 30px;
}

.step-2__item-title {
    margin-bottom: 15px;
}

.step-2__price {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    text-align: right;
    position: relative;
    margin: 75px -40px 70px;
    padding-top: 20px;
}

.step-price {
    margin-left: -40px;
    margin-right: -40px;
}

.step-price p {
    padding: 0 40px;
}

.step-price {
    position: relative;
}

.step-price::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    height: 1px;
    opacity: 0.4;
    background-color: #FFAA06;
}

.step-bottom-link+.step-bottom-link {
    margin-left: 25px;
}

.step-3__subtitle-text {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 55px;
}

.step-3__subtitle-text::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1px;
    background-color: #FF7E06;
    opacity: 0.4;
}

.step-3__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 670px;
    overflow-y: scroll;
    padding-top: 35px;
}

.step-3__items::-webkit-scrollbar {
    width: 6px;
    height: 8px;
    background-color: #9F9F9F;
    border: 2px solid #fff;
}

.step-3__items::-webkit-scrollbar-thumb {
    background-color: #FFAA06;
    border: 3px solid #FFAA06;
    width: 3px;
}

.step-3__items::-webkit-scrollbar-thumb:hover {
    background-color: #FF7E06;
}

.step-3__item {
    min-height: fit-content;
    margin-bottom: 20px;
}

.service__item.step-3__item+.service__item.step-3__item {
    margin-top: 0;
}

.step-3__item-pictures {
    height: 299px;
    border-radius: 3px 0 0 3px;
    overflow: hidden;
}

.step-3__item-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.step-3__item-price__info {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    margin-left: 20px;
}

.step-3__item-price__input~.input-group {
    display: flex;
    align-items: center;
    height: 46px;
    border: 1px solid #FFAA06;
}

.step-3__item-price__input~.input-group .btn,
.step-3__item-price__input~.input-group .form-control {
    font-family: 'Quicksand', sans-serif;
    width: 53px;
    background-color: #fff;
    border: none;
}

.step-3__item-price__input~.input-group .form-control {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
}

.step-3__item-price__input~.input-group .btn {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    cursor: pointer;
}

.step-3__item-text {
    margin-left: 30px;
    width: 290px;
}

.step-3__item--without-picture .step-3__item-pictures {
    display: none;
}

.step-3__item--without-picture .step-3__item-content {
    width: 100%;
}

.step-3__item--without-picture .step-3__item-info {
    width: 95%;
}

.step-3__item--without-picture .step-3__item-text {
    width: fit-content;
    margin: 0 auto;
}

.step-3__item--without-picture .step-3__item-price {
    max-width: 90%;
    width: 100%;
}

.step-3__riding-time {
    background-color: #FFAA06;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -40px;
    padding: 0 40px;
}

.step-3__riding-time__title {
    margin-left: 55px;
}

.step-3__riding-time__content {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 75px;
}

.step-3__riding-time__select {
    cursor: pointer;
    border: 1px solid #FFAA06;
    border-radius: 3px;
    background-color: #FFF;
}

.step-3__riding-time__select,
.step-3__riding-time__item {
    width: 115px;
    height: 40px;
    text-align: center;
}

.step-3__riding-time__items {
    display: none;
    animation: sweep .3s ease-out;
}

.step-3__riding-time__items.is-active {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    top: 40px;
    left: -1px;
    background-color: #FFF;
    border: 1px solid #FFAA06;
}

.step-3__riding-time__select,
.step-3__riding-time__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-3__riding-time__item-input {
    position: absolute;
    left: 0;
    width: 110px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

.step-3__extensions-wrapper {
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    margin-top: 25px;
}

.step-3__extensions-wrapper.is-active {
    height: fit-content;
    opacity: 1;
    pointer-events: all;
    margin-top: 60px;
}

.step-3__extensions-wrapper.is-active~.step-3__extensions-btn {
    justify-content: flex-end;
}

.step-3__extensions-wrapper.is-active~.step-3__extensions-btn .step-3__extensions-btn__title {
    display: none;
}

.step-3__extension {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.step-3__extension-title {
    font-weight: 500;
    max-width: 200px;
}

.step-3__extension-price {
    display: flex;
    align-items: center;
}

.step-3__extension-price__text {
    margin-right: 35px;
}

.step-3__extension-price__input~.input-group .btn,
.step-3__item-price__input~.input-group .form-control {
    width: 44px;
}

.step-3__extensions-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    position: relative;
    margin-bottom: 25px;
}

.step-3__extensions-btn__input {
    position: absolute;
    right: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.step-3__extensions-btn__label {
    font-size: 18px;
    line-height: 22px;
}

.step-3__price {
    padding-top: 20px;
    margin-bottom: 35px;
}

.step-3__price-item {
    font-weight: 500;
}

.step-3__price-item+.step-3__price-item {
    margin-top: 15px;
}

.step-4 {
    padding: 80px 0 55px;
    line-height: 24.5px;
}

.step-4__subtitle-text {
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.step-4__info {
    max-width: 480px;
    margin-bottom: 45px;
}

.step-4__info-title {
    font-weight: 700;
    margin-bottom: 25px;
    max-width: 460px;
}

.summary-information__items {
    list-style: none;
}

.summary-information__item {
    position: relative;
}

.summary-information__item::before {
    content: '•';
    margin-right: 5px;
}

@media (max-width:1250px) {
    .service__wrapper {
        flex-direction: column;
        overflow: hidden;
    }

    .service__items--little {
        margin: 0 auto;
    }

    .service__items {
        width: fit-content;
        margin: 0 auto 25px;
    }

    .service__items--little .slick-left,
    .service__items--little .slick-right {
        display: none;
        cursor: initial;
        visibility: hidden;
    }

    .step-1__subtitle-wrapper {
        height: 84px;
        position: relative;
    }

    .step-1__subtitle--outline {
        position: absolute;
        left: -40px;
        right: -40px;
    }
}

@media (max-width:1200px) {
    .map__container {
        flex-direction: column;
        align-items: center;
    }

    .map__addresses {
        margin-bottom: 20px;
    }

    .map__title {
        text-align: center;
    }

    .map__addresses-items {
        text-align: center;
        margin-left: 0;
    }

    .map__addresses-item[open] summary~* {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .map__addresses-item__text+.map__addresses-item__text {
        margin-top: 15px;
    }

    .seo-slider__texts .slick-dots {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 30px;
    }

    .seo-slider__texts .slick-dots li {
        position: relative;
        width: 8px;
        height: 8px;
        background-color: #9F9F9F;
        margin: 0 4px;
        border-radius: 50%;
    }

    .seo-slider__texts .slick-dots li button {
        position: absolute;
        display: block;
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        border: none;
        font-size: 0;
        background: transparent;
    }

    .seo-slider__texts .slick-dots .slick-active {
        background: #FFAA06;
    }
}

@media (max-width:1170px) {
    .hero__inner {
        flex-direction: column;
    }

    .hero__content {
        margin-bottom: 25px;
    }

    .hero__button {
        margin: 0 auto;
    }

    .service__items {
        columns: 1;
        display: flex;
        flex-direction: column;
    }

    .service__items .slick-list {
        max-width: 570px;
        margin: 0 auto 20px;
    }

    .service__item-inner {
        flex-direction: column;
    }

    .step-3__item-inner {
        flex-direction: row;
    }

    .service__item .service__pictures {
        width: 100%;
        height: 150px;
        margin-right: 0;
    }

    .service__content {
        align-items: center;
    }

    .service__price {
        margin-top: 30px;
        max-width: 330px;
        width: 100%;
    }

    .service__price-link {
        margin: 0 auto;
    }

    .service__item .service__content .service__info-text {
        max-width: fit-content;
    }

    .service__item+.service__item {
        margin-top: 15px;
    }

    .service__items .slick-dots,
    .step-3__items .slick-dots {
        display: flex;
        list-style: none;
        justify-content: center;
    }

    .service__items .slick-dots li,
    .step-3__items .slick-dots li {
        position: relative;
        width: 8px;
        height: 8px;
        background-color: #9F9F9F;
        margin: 0 4px;
        border-radius: 50%;
    }

    .service__items .slick-dots li button,
    .step-3__items .slick-dots li button {
        position: absolute;
        display: block;
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        border: none;
        font-size: 0;
        background: transparent;
    }

    .service__items .slick-dots .slick-active,
    .step-3__items .slick-dots .slick-active {
        background: #FFAA06;
    }

    .step-3__item-price {
        margin-top: auto;
        max-width: 290px;
        width: 290px;
    }
}

@media (max-width:1120px) {
    .services__inner {
        flex-direction: column-reverse;
    }

    .services__pictures {
        margin-right: 0;
    }

    .services__content {
        display: flex;
        flex-direction: column-reverse;
    }

    .services__title {
        font-weight: 700;
        margin-bottom: 20px;
    }

    .services__button {
        margin-bottom: 30px;
    }

    .info {
        margin-bottom: 30px;
    }

    .services__advantages-items {
        justify-content: center;
    }

    .services__advantages-item {
        margin: 20px auto;
    }

    .seo-slider__texts .slick-left,
    .seo-slider__texts .slick-right {
        visibility: hidden;
    }

    .seo-slider__texts .slick-right {
        left: 900px;
    }

    .step-3__item-inner .step-3__item-pictures {
        width: 210px;
        margin-right: 30px;
        height: 299px;
    }
}

@media (max-width:1024px) {
    .gift-shopping__inner {
        flex-direction: column;
        align-items: center;
    }

    .gift-shopping__pictures {
        display: none;
    }

    .gift-shopping__title {
        text-align: center;
        margin-bottom: 35px;
    }

    .gift-shopping__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gift-shopping__items {
        margin-left: 0;
    }

    .step__inner {
        flex-direction: column;
    }

    .step__pictures {
        display: none;
    }

    .step__items {
        margin-top: 0;
    }

    .step__items-title {
        margin: 0 auto 40px;
        text-align: center;
    }
}

@media (max-width:950px) {
    .header__logo {
        margin-right: 8%;
    }

    .video-section__title {
        text-align: center;
    }

    .quiz__pictures {
        display: none;
    }

    .quiz__title {
        font-size: 25px;
        line-height: 34px;
        max-width: 280px;
        margin-bottom: 20px;
        margin-left: 0;
        text-align: center;
    }

    .quiz__item {
        flex-direction: column;
        padding: 10px 0;
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }

    .quiz__item+.quiz__item::after {
        content: none;
    }

    .quiz__item-inner {
        max-width: 380px;
        width: 100%;
        flex-direction: column;
        align-items: initial;
    }

    .quiz__item-title {
        margin-bottom: 15px;
    }

    .quiz__item::before {
        top: 6px;
    }

    .quiz__item-text {
        display: none;
        visibility: hidden;
        animation: sweep .3s ease-out;
        max-width: 295px;
    }

    .quiz__item.is-active .quiz__item-text {
        display: block;
        visibility: visible;
    }
}

@media (max-width:868px) {
    .header__link+.header__link {
        margin-left: 25px;
    }

    .footer__logo {
        text-align: center;
        margin-bottom: 25px;
    }

    .footer__links {
        position: initial;
    }

    .footer-copy {
        text-align: center;
    }
}

@media (max-width:800px) {
    .header {
        padding: 10px 0;
    }

    .header__button {
        display: block;
        cursor: pointer;
    }

    .header__content {
        position: absolute;
        flex-direction: column;
        align-items: center;
        text-align: center;
        top: 100%;
        background: #fff;
        transform: translateY(-200%);
        transition: transform .5s;
        top: 60px;
        left: 0;
        right: 0;
        padding: 25px 0;
    }

    .header__content.is-active {
        transform: translateY(0);
        z-index: 0;
    }

    .header__links {
        display: flex;
        flex-direction: column;
    }

    .header__link {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #FFAA06;
    }

    .header__link+.header__link {
        margin-left: 0;
    }

    .header__link+.header__link .services__inner,
    .services__advantages-items {
        margin-bottom: 30px;
    }

    .step__items-wrapper {
        columns: 1;
        max-width: 200px;
        margin: 0 auto 20px;
    }

    .step__item {
        max-width: 100%;
        margin-bottom: 15px;
    }

    .step__items-title {
        font-size: 30px;
        line-height: 38px;
    }

    .step__item-title {
        margin-bottom: 15px;
    }

    .step__items-wrapper .slick-dots {
        display: flex;
        list-style: none;
        justify-content: center;
    }

    .step__items-wrapper .slick-dots li {
        position: relative;
        width: 8px;
        height: 8px;
        background-color: #9F9F9F;
        margin: 0 4px;
        border-radius: 50%;
    }

    .step__items-wrapper .slick-dots li button {
        position: absolute;
        display: block;
        top: -5px;
        left: -5px;
        width: 20px;
        height: 20px;
        border: none;
        font-size: 0;
        background: transparent;
    }

    .step__items-wrapper .slick-dots .slick-active {
        background: #FFAA06;
    }

    .seo-slider__images {
        height: 165px;
    }

    .seo-slider__images {
        max-width: 170px;
        margin: 0 auto;
    }

    .seo-slider__image.slick-center {
        max-width: 170px;
        min-width: 170px;
        height: 165px;
    }

    .seo-slider__text-title {
        font-size: 30px;
        line-height: 38px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .seo-slider__images .slick-track {
        align-items: initial;
    }

    .step-2__map {
        margin: 0 auto 35px;
        overflow: hidden;
    }

    .step-2__bottom {
        justify-content: center;
    }

    .step-3__bottom {
        justify-content: flex-start;
    }

    .step-2__items {
        margin-left: 25px;
    }

    .step-3__riding-time {
        justify-content: initial;
    }
}

@media (max-width:666px) {
    .hero__title {
        font-size: 44px;
        line-height: 48px;
    }

    .info__item {
        margin: 20px;
    }

    .services__title {
        font-size: 20px;
        line-height: 24px;
        text-align: center;
    }

    .service__items .slick-list,
    .step-3__items .slick-list {
        max-width: 400px;
    }

    .service__item {
        width: 400px;
        margin: 0 20px;
    }

    .service__item .service__item-inner {
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .service__item .service__item-inner .service__content {
        padding: 15px;
    }

    .service__item .service__item-inner .service__pictures {
        width: 100%;
        height: 134px;
    }

    .service__item .service__content .service__info-title {
        font-size: 20px;
        line-height: 26px;
    }

    .service__item .service__content .service__info-text {
        font-size: 14px;
        line-height: 18px;
    }

    .service__info-link {
        font-size: 12px;
        line-height: 15px;
        max-width: 95px;
    }

    .service__info-link svg {
        display: none;
    }

    .services__inner,
    .services__advantages-items {
        margin-bottom: 20px;
    }

    .video-section {
        padding: 40px 0;
    }

    .map__pictures {
        width: 100%;
    }

    .step-1__address-checkbox+label,
    .step-1__address-map--title {
        font-size: 14px;
        line-height: 17px;
    }

    .step-1__address-map--title {
        width: 245px;
        left: 15px;
    }

    .step-1__address-inner {
        width: 100%;
    }

    .step-1__address::after {
        position: absolute;
        top: 20px;
        width: 40px;
        height: 52px;
    }

    .step-1__address-map {
        margin: 0 auto;
    }

    .step-1__bottom {
        flex-direction: column;
        align-items: center;
    }

    .step-2__bottom {
        flex-direction: column;
        align-items: center;
        margin-bottom: 35px;
    }

    .step-bottom-link+.step-bottom-link {
        margin-left: 0;
    }

    .step-2__price {
        margin: 35px 0 25px;
        padding-top: 10px;
    }

    .step-2__price::before {
        left: -15px;
        width: 100vw;
    }

    .step-3__item-inner .step-3__item-pictures {
        margin-right: 0;
    }

    .step-3__items {
        align-items: initial;
        height: initial;
        margin: 0 -15px 30px;
        overflow: hidden;
    }

    .step-3__items .slick-list {
        margin: 0 auto 20px;
    }

    .step-3__item-price {
        flex-direction: column;
        align-items: initial;
    }

    .step-3__item-price__input~.input-group {
        width: 160px;
    }

    .step-3__items::-webkit-scrollbar {
        width: initial;
        height: initial;
        background-color: initial;
        border: initial;
    }

    .step-3__items::-webkit-scrollbar-thumb {
        background-color: initial;
        border-radius: initial;
        width: initial;
    }

    .step-3__items::-webkit-scrollbar-thumb:hover {
        background-color: initial;
    }

    .step-3__extension-price__input~.input-group {
        width: 135px;
    }

    .step-3__item--without-picture {
        transform: translateY(30%);
    }

    .step-3__item--without-picture .step-3__item-price {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width:540px) {
    .hero__title {
        font-size: 36px;
        line-height: 40px;
    }

    .hero__button {
        display: none;
    }

    .hero__pictures {
        width: 100%;
        height: 300px;
    }

    .services__pictures {
        left: -5%;
    }

    .services__picture {
        width: 108%;
    }

    .services__button {
        display: block;
    }

    .info {
        margin-bottom: 15px;
    }

    .gift-shopping__title {
        font-size: 30px;
        line-height: 38px;
    }

    .gift-shopping__button,
    .step__button {
        display: block;
    }

    .video-section__img {
        height: 260px;
    }

    .video-section__title {
        font-size: 24px;
        line-height: 28px;
        max-width: 300px;
        margin: 0 auto 20px;
    }

    .map__title {
        font-size: 32px;
        line-height: 40px;
    }

    .map__title {
        margin-bottom: 20px;
    }

    .map__addresses-items {
        display: none;
    }

    .map__addresses-items.is-active {
        display: block;
        animation: sweep .3s ease-in-out;
    }

    .seo-slider__text-content {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }

    .step-close-cross {
        width: 25px;
        height: 25px;
    }

    .step-1__address-checkbox+label::before {
        min-width: 25px;
        min-height: 25px;
    }

    .step-1__address::after {
        min-width: 40px;
    }

    .step-1__address-map-title {
        width: 250px;
        left: 10px;
    }

    .step-map--before::before {
        top: 75px;
        left: 20px;
    }

    .step-map--span {
        font-size: 14px;
        line-height: 17px;
        width: 250px;
        left: 10px;
    }

    .step-3__extension {
        flex-direction: column;
        margin: 0 auto 35px;
        width: fit-content;
    }

    .step-3__extension-title {
        margin-bottom: 15px;
    }
}

@media (max-width:450px) {
    .hero__title {
        font-size: 29px;
        line-height: 33px;
        margin-bottom: 15px;
    }

    .hero__pictures {
        height: 225px;
    }

    .info__item {
        margin: 0 15px 20px;
    }

    .services {
        margin-bottom: 40px;
    }

    .service__items .slick-list,
    .service__item,
    .step-3__items .slick-list,
    .step-3__item,
    .step-3__item--without-picture {
        max-width: 290px;
        width: 290px;
    }

    .quiz__title {
        font-size: 18px;
        line-height: 22px;
    }

    .quiz__item {
        max-width: 300px;
    }

    .quiz__item-title {
        font-size: 14px;
        line-height: 17px;
        font-weight: 500;
    }

    .quiz__item-inner {
        margin-left: 15px;
    }

    .quiz__item::before {
        left: 4px;
    }

    .quiz__item-text {
        font-size: 14px;
        line-height: 17px;
    }

    .gift-shopping__title {
        font-size: 24px;
        line-height: 28px;
    }

    .step__items-title {
        font-size: 18px;
        line-height: 22px;
    }

    .map__title {
        font-size: 26px;
        line-height: 30px;
    }

    .map__addresses-item {
        margin-left: 25px;
        text-align: left;
    }

    .map__addresses-item[open] summary~* {
        margin-left: 15px;
    }

    .seo-slider__image {
        max-height: 165px;
    }

    .seo-slider__text-title {
        font-size: 18px;
        line-height: 22px;
    }

    .footer__logo,
    .footer__links {
        text-align: left;
    }

    .step-1__address-content {
        margin-left: 0;
    }

    .step-1__address-checkbox+label::before {
        margin-right: 15px;
    }

    .step-1__address-checkbox+label {
        width: 250px;
    }

    .step-1__address-time {
        font-size: 14px;
        line-height: 17px;
        margin-left: 40px;
    }

    .step-1__subtitle {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .step-1__subtitle--outline {
        padding: 20px 15px 20px;
    }

    .step-1__address-checkbox+label::before {
        height: 25px;
    }

    .step-2__items {
        margin-left: 0;
    }

    .step-2__item-title {
        font-size: 15px;
        line-height: 18px;
    }

    .step-title {
        font-size: 30px;
        line-height: 37px;
    }

    .step-2__subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    .step-2__subtitle-text,
    .step-2__item-text {
        font-size: 14px;
        line-height: 17px;
    }

    .step-2__price {
        font-size: 15px;
        line-height: 18px;
    }

    .step-2__item+.step-2__item {
        margin-top: 20px;
    }

    .step-2__item-title {
        margin-bottom: 5px;
    }

    .step-3__item-content {
        align-items: initial;
    }

    .service__item .service__content .service__info-title {
        font-size: 15px;
        line-height: 19px;
        margin-left: 15px;
    }

    .step-3__item-text--item {
        font-size: 14px;
        line-height: 17px;
        margin-left: 30px;
    }

    .step-3__price-item {
        font-size: 14px;
        line-height: 17px;
    }

    .step-3__riding-time__title {
        font-size: 15px;
        line-height: 18px;
    }

    .step-3__extension {
        width: 100%;
    }

    .step-3__extension-price {
        justify-content: space-between;
    }

    .step-3__extension-title {
        font-weight: 700;
    }

    .step-3__extension-title,
    .step-3__extension-price__text {
        font-size: 14px;
        line-height: 17px;
    }

    .step-3__extensions-btn {
        flex-direction: column;
        align-items: flex-start;
    }

    .step-3__extensions-btn__title {
        margin-bottom: 15px;
        text-align: left;
    }

    .step-3__extensions-btn__title,
    .step-3__extensions-btn__label {
        font-size: 14px;
        line-height: 17px;
    }

    .step-3__extensions-wrapper.is-active {
        margin-top: 25px;
    }

    .step-1__subtitle--outline {
        left: -20px;
        right: -20px;
    }

    .step-top-btns {
        margin: 0 20px;
    }

    .step--popup .container,
    .step-3__riding-time {
        padding: 0 20px;
    }

    .step-1__address {
        padding: 30px 20px;
        margin: 0 -20px;
    }

    .step-1__address::after {
        right: 20px;
    }

    .step-price,
    .step-3__riding-time {
        margin-left: -20px;
        margin-right: -20px;
    }

    .step-price p,
    .step-3__riding-time {
        padding: 0 20px;
    }

    /* step-3__item */
    .step-3__item {
        min-height: 400px;
    }

    .step-3__item--without-picture {
        min-height: fit-content;
    }

    .step-3__item--without-picture .step-3__item-price {
        max-width: 100%;
    }

    .step-3__item-inner .step-3__item-pictures {
        width: 100%;
        height: 150px;
        margin-right: 0;
    }

    .step-3__item-price {
        margin-top: 30px;
        max-width: 330px;
        width: 100%;
    }

    .service__info-title,
    .step-3__item-text {
        margin-left: 0;
    }

    /* step-3__item */
}

@media (max-width:375px) {
    .hero__inner {
        align-items: flex-start;
    }

    .header__content {
        margin-bottom: 15px;
    }

    .hero__title {
        font-size: 18px;
        line-height: 22px;
        max-width: 260px;
        margin-bottom: 10px;
    }

    .hero__text {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 0;
    }

    .hero__pictures {
        height: 200px;
    }

    .info__item {
        max-width: 110px;
        font-size: 14px;
        line-height: 17px;
    }

    .info__item-title {
        font-size: 30px;
        line-height: 37px;
    }

    .service__items,
    .service__items--little .slick-list {
        width: 280px;
    }

    .gift-shopping__title {
        font-size: 18px;
        line-height: 22px;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .gift-shopping__item {
        font-size: 14px;
        line-height: 17px;
    }

    .video-section__title {
        line-height: 22px;
        max-width: 300px;
        font-size: 18px;
        margin: 0 auto 20px;
    }

    .step-3__riding-time {
        display: flex;
        justify-content: space-around;
    }

    .step-3__riding-time__title,
    .step-3__riding-time__content {
        margin-left: 0;
    }
}